<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="G2BWebServiceURL" value="https://apps-test.iru.org/RTS2/TIREPDG2B/TIREPDG2BService.asmx" />
    <add key="SubscriberID" value="RTSJAVA"/>
    <add key="CertificatePath" value=".\RTSJAVA_send.cer.der"/>
  </appSettings>
</configuration>