<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
      <section  name="RTSDotNETClient"  type="RTSDotNETClient.Configuration, RTSDotNETClient" />
  </configSections>

  <RTSDotNETClient TraceEnabled="True" XsdValidationDisabled="False"
                   TirCarnetQueryWSUrl="https://apps-test.iru.org/rts2/tchq_ws/tirCarnetQuery.asmx"
                   ReconciliationWSUrl="https://apps-test.iru.org/rts2/wsrq_ws/wsrq.asmx"
                   SafeTirUploadWSUrl="https://apps-test.iru.org/rts2/wsst_ws/safetirupload.asmx" />

  <appSettings>
    <add key="LoadTestData" value="True" />
  </appSettings>
  
</configuration>