<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <compilation debug="true" />
    </system.web>
    <system.serviceModel>
        <services>
            <service name="TIREPDB2GService" behaviorConfiguration="TIREPDB2GServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/B2G/" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingCfg" contract="ITIREPDB2GService" bindingNamespace="http://www.iru.org">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBindingCfg" closeTimeout="00:03:00" openTimeout="00:03:00"
                  sendTimeout="00:03:00" maxReceivedMessageSize="104857600">
                    <security mode="None" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="TIREPDB2GServiceBehavior">
                    <serviceMetadata httpGetEnabled="True"/>
                    <serviceDebug includeExceptionDetailInFaults="True" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>


    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter"
                     initializeData="trace.log" />
            </listeners>
        </trace>
    </system.diagnostics>

    <appSettings>
        <add key="SubscriberID" value="RTSJAVA"/>
        <add key="B2GCertificatePath" value=".\RTSJAVA_recv.all.pfx"/>
        <add key="B2GCertificatePassword" value=""/>
        <add key="G2BCertificatePath" value=".\RTSJAVA_send.cer.cer"/>
        <add key="G2BWebServiceURL" value="https://apps-test.iru.org/RTS2/TIREPDG2B/TIREPDG2BService.asmx" />
    </appSettings>

</configuration>
