<?xml version="1.0" encoding="UTF-8"?>
<web-app id="b2g" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">


	<context-param>
		<param-name>PrivateKeyFile</param-name>
		<param-value>noop.der</param-value>
	</context-param>

	<context-param>
		<param-name>CertificateFile</param-name>
		<param-value>noop.cer</param-value>
	</context-param>

	<context-param>
		<param-name>Subscriber</param-name>
		<param-value>NOOP</param-value>
	</context-param>

	
	<servlet>
		<servlet-name>NoopB2GService-1</servlet-name>
		<servlet-class>org.iru.tirepd.ws.b2g.impl.NoopB2GService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoopB2GService-1</servlet-name>
		<url-pattern>/NoopB2GService-1</url-pattern>
	</servlet-mapping>
	
</web-app>
